/target
/dist
.env
.env.local
/deploy/.env.production
/lilith/.env.local
/lilith/.env.production
.local/
db.sqlite
db.sqlite-shm
db.sqlite-wal
*.bk
styles.css
node_modules
package-lock.json
.netlify
session.yml
